html {
  height: 100%;
}

body {
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.heart {
  width: 50px;
  height: 50px;
  background: red;
  transform: rotate(45deg);
  position: absolute;
  left: 200px;
  top: 200px;
}

.heart .left {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  left: -25px;
  top: 0px;
}

.heart .right {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  left: 0px;
  top: -25px;
}

h1,
h2 {
  color: white;
  position: relative;
}

.panel {
  z-index: 1;
  padding: 40px;
  background: rgba(255, 154, 154, 0.1);
  box-shadow: 0 8px 32px 0 pink;
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 20px;
}

/* 
fade in effect  */
.fade-in-div {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
